<div class="actual-content">
    <div class="actual-content-title">
        <div class="actual-title-con">
            <h2>病人详情页</h2>
            <img src="../../../content/images/underline.png" alt="">
        </div>
    </div>
    <div class="sick">
        <div class="sick-people-info">
            <div class="container">
                <div class="row ch-row" *ngIf="case">
                    <div class="col">姓名：{{case.name}}</div>
                    <div class="col">性别：{{case.sex}}</div>
                    <div class="col">工龄：{{case.workDuration}}</div>
                    <div class="col">粉尘性质：{{case.workType}}</div>
                </div>
                <div class="row ch-row">
                    <div class="col-2">扼要病情:</div>
                    <div class="col-10">
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sick-people-xRay">
            <div>
                <i class="pull-right float-xs-right glyphicon"></i>
            </div>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="x-ray">
                                <div id="dicomWrapper" class='disable-selection noIbar'>

                                    <div style="height: 300px;">
                                    </div>
                                </div>
                                <div class="review-full-btn">
                                    <a class="btn">
                                        <i class="fa fa-search-plus fa-3x" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="basic-info"  *ngIf="case">
                                <h3>
                                    <span class="name">{{case.name}}</span>的病例</h3>
                                <div class="basic-info-detail">
                                    <div class="row margin-row">
                                        <div class="col-3">姓名</div>
                                        <div class="col-9">{{case.name}}</div>
                                    </div>
                                    <div class="row margin-row">
                                        <div class="col-3">性别</div>
                                        <div class="col-9">{{case.sex}}</div>
                                    </div>
                                    <div class="row margin-row">
                                        <div class="col-3">出生日期</div>
                                        <div class="col-9">{{case.birthday}}</div>
                                    </div>
                                    <div class="row margin-row">
                                        <div class="col-3">工龄</div>
                                        <div class="col-9">{{case.workDuration}}</div>
                                    </div>
                                    <div class="row margin-row">
                                        <div class="col-3">粉尘性质</div>
                                        <div class="col-9">{{case.workType}}</div>
                                    </div>
                                    <!--<div class="row margin-row">-->
                                        <!--<div class="col-3">分析建议</div>-->
                                        <!--<div class="col-9">三级甲等肺尘病</div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
