<div class="actual-content">
    <div class="actual-content-title">
        <div class="case-history-info">
            <form #taskForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="container" [ngSwitch]="step">

                    <div *ngSwitchDefault>
                        <div class="register-form center">
                            <span style="font-size: 1.75rem;">粉尘作业人员信息登记表</span>
                        </div>
                        <div style="margin: 40px 0;" class="row">
                            <div class="col">
                                <a style="float: right; color: #fff;" class="btn btn-primary upload-case-history">上传电子病历</a>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">姓名</label>
                                    <div class="col-8">
                                        <input [(ngModel)]="examForm.name" name="name" type="text" class="form-control" placeholder="请输入姓名" aria-describedby="sizing-addon1">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">性别</label>
                                    <div class="col-8">
                                        <select [(ngModel)]="examForm.sex" class="form-control" name="sex">
                                            <option value="" selected>请选择性别</option>
                                            <option value="男">男</option>
                                            <option value="女">女</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">身高</label>
                                    <div class="col-8">
                                        <input [(ngModel)]="examForm.stature" name="stature" type="text" class="form-control" placeholder="请输入身高" aria-describedby="sizing-addon1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">体重</label>
                                    <div class="col-8">
                                        <input [(ngModel)]="examForm.weight" type="text" class="form-control" placeholder="请输入体重" aria-describedby="sizing-addon1"
                                            name="weight">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">出生日期</label>
                                    <div class="col-9 input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="birthday" [(ngModel)]="examForm.birthday" ngbDatepicker #d="ngbDatepicker">
                                        <button class="input-group-addon" (click)="d.toggle()" type="button">
                                            <img src="../../../content/images/icon/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">年龄</label>
                                    <div class="col-8">
                                        <input [(ngModel)]="examForm.age" name="age" type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row ">
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">身份证</label>
                                    <div class="col-8">
                                        <input [(ngModel)]="examForm.pid" name="pid" type="text" class="form-control" placeholder="请输入身份证号" aria-describedby="sizing-addon1">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">电话</label>
                                    <div class="col-8">
                                        <input [(ngModel)]="examForm.tel" name="tel" type="text" class="form-control" placeholder="请输入电话" aria-describedby="sizing-addon1">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">工种</label>
                                    <div class="col-8">
                                        <input [(ngModel)]="examForm.job" name="job" type="text" class="form-control" placeholder="请输入工种" aria-describedby="sizing-addon1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">工龄</label>
                                    <div class="col-8">
                                        <input [(ngModel)]="examForm.dustAge" name="dustAge" type="text" class="form-control" placeholder="请输入工龄" aria-describedby="sizing-addon1">
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">粉尘性质</label>
                                    <div class="col-8">
                                        <select class="form-control" [(ngModel)]="examForm.dustType" name="dustType">
                                            <option value="" selected>请选择粉尘性质</option>
                                            <option value="矽尘">矽尘</option>
                                            <option value="煤工粉尘">煤工粉尘</option>
                                            <option value="石墨粉尘">石墨粉尘</option>
                                            <option value="炭黑粉尘">炭黑粉尘</option>
                                            <option value="石棉尘">石棉尘</option>
                                            <option value="滑石粉尘">滑石粉尘</option>
                                            <option value="水泥粉尘">水泥粉尘</option>
                                            <option value="云母粉尘">云母粉尘</option>
                                            <option value="陶工粉尘">陶工粉尘</option>
                                            <option value="铝尘">铝尘</option>
                                            <option value="电焊工粉尘">电焊工粉尘</option>
                                            <option value="铸工粉尘">铸工粉尘</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">并发症</label>
                                    <div class="col-8">
                                        <select class="form-control" [(ngModel)]="examForm.complication" name="complication">
                                            <option value="" selected>请选择并发症</option>
                                            <option value="无">无</option>
                                            <option value="肺内感染">肺内感染</option>
                                            <option value="肺癌">肺癌</option>
                                            <option value="胸膜间皮瘤">胸膜间皮瘤</option>
                                            <option value="自发性气胸">自发性气胸</option>
                                            <option value="肺结核">肺结核</option>
                                            <option value="慢性肺源性心脏病">慢性肺源性心脏病</option>
                                            <option value="慢性阻塞性肺疾病">慢性阻塞性肺疾病</option>
                                            <option value="支气管扩张">支气管扩张</option>
                                            <option value="支气管哮喘">支气管哮喘</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-4">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">是否吸烟</label>
                                    <div class="col-8">
                                        <select class="form-control" [(ngModel)]="examForm.smoke" name="smoke">
                                            <option value="0">否</option>
                                            <option value="1">是</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="career">
                            <textarea [(ngModel)]="examForm.jobHistory" name="jobHistory" class="form-control" type="text" placeholder="请输入患者的职业史" rows="3"></textarea>
                        </div>

                        <div class="next-step">
                            <button type="button" class="btn btn-primary" (click)="step='secondStep'">下一步</button>
                        </div>
                    </div>


                    <div *ngSwitchCase="'secondStep'">
                        <div class="register-form center" style="padding-top: 23px;">
                            <span style="font-size: 1.75rem;">粉尘作业人员临床化验信息</span>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 control-label">上传临床化验单</label>
                            <div class="col-sm-10">

                                <span class="btn btn-primary btn-file">
                                    选择化验单
                                    <input type="file" ngFileSelect [options]="uploadOptions" (uploadOutput)="onUploadOutput($event, testReportUploadInput, 'testReport')"
                                        [uploadInput]="testReportUploadInput">
                                </span>

                                <span class="file-name" *ngIf="testReport">{{testReport.name}}</span>
                                <div class="progress" *ngIf="testReport && testReport.progress">

                                    <div [ngStyle]="{'width': testReport.progress.data.percentage + '%'}" class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        {{testReport.progress.data.percentage}}%
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="row next-step">
                            <div class="col">
                                <button type="button" class="btn btn-primary" (click)="step='firstStep'">上一步</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-primary" (click)="step='thirdStep'">下一步</button>
                            </div>
                        </div>
                    </div>


                    <div *ngSwitchCase="'thirdStep'">
                        <div class="register-form center" style="padding-top: 23px;">
                            <span style="font-size: 1.75rem;">粉尘作业人员专项检查信息（胸部x射线）</span>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">上传x光片</label>
                            <div class="col-10">

                                <span class="btn btn-primary btn-file">
                                    选择x光片
                                    <input type="file" ngFileSelect [options]="uploadOptions" (uploadOutput)="onUploadOutput($event, xRayUploadInput, 'xRay')"
                                        [uploadInput]="xRayUploadInput">
                                </span>

                                <span class="file-name" *ngIf="xRay">{{xRay.name}}</span>
                                <div class="progress" *ngIf="xRay && xRay.progress">

                                    <div [ngStyle]="{'width': xRay.progress.data.percentage + '%'}" class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        {{xRay.progress.data.percentage}}%
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 control-label">
                                <p>上传肺功能</p>
                            </div>
                            <div class="col-10">

                                <span class="btn btn-primary btn-file">
                                    选择肺功能
                                    <input type="file" ngFileSelect [options]="uploadOptions" (uploadOutput)="onUploadOutput($event, lungFunctionUploadInput, 'lungFunction')"
                                        [uploadInput]="lungFunctionUploadInput">
                                </span>

                                <span class="file-name" *ngIf="lungFunction">{{lungFunction.name}}</span>
                                <div class="progress" *ngIf="lungFunction && lungFunction.progress">

                                    <div [ngStyle]="{'width': lungFunction.progress.data.percentage + '%'}" class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        {{lungFunction.progress.data.percentage}}%
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="row next-step">
                            <div class="col">
                                <button type="button" class="btn btn-primary" (click)="step='secondStep'">上一步</button>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary analyze">添加分析任务</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
