.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

.register-form  {
    margin-bottom: 40px; 
}

.center {
    text-align: center;
}

.next-step {
    text-align: center;
    margin-top: 50px;
}

.progress {
    margin-top: 25px;
}
