<div id="main"></div>
<div class="row" style="background-color: #1D2528">
    <div #chinaChart class="col-8" style="height: 800px" [style.display]="countryDisplay">
    </div>
    <div #provinceChart class="col-8" style="height: 800px" [style.display]="provinceDisplay"></div>
    <div class="col-4">
        <div class="row">
                <jhi-top-ten-bar-chart [cityNames]="topTenCityName" [cityValues]="topTenCityValue" ></jhi-top-ten-bar-chart>
            <div id="chart2" class="col-12" style="height: 400px" jhiEcharts [options]="confirmedCaseOption"></div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div id="chart4" class="col-4" style="height: 500px" jhiEcharts [options]="phaseOption"></div>
            <div id="chart5" class="col-4" style="height: 500px" jhiEcharts [options]="causeOption"></div>
        </div>
    </div>
</div>