#PanelTable {
    width: 100%;
}

.td-title {
    width: 35%;
    color: #44C4EE;
    padding: 25px 20px;
    background: #1A315D;
    border: #1D2528 solid 2px;
    font-size: 30px;
    font-weight: 400;
}

.td-value {
    color: #24B858;
    background: #1A315D;
    border: #1D2528 solid 2px;
    padding: 25px 20px;
    font-size: 80px;
    font-weight: 700;
    font-family: cursive;
}

#PanelTitle {
    color: #73D0CC;  
    font-family: "Microsoft YaHei, Helvetica Neue Light";
    font-size: 30px;
    font-weight: 600;
}