<div class="actual-content">
    <div class="actual-content-title">
        <div class="actual-title-con row justify-content-md-center">
            <div class="col-6">
                <h2>粉尘作业人员胸部X射线智能分析结果</h2>
                <img src="../../../content/images/underline.png" alt="">
            </div>
            <div>
                <a routerLink="/exam" class="btn btn-primary pull-right" style="color: #fff; margin-right: 1em;">返回列表</a>
            </div>
        </div>
    </div>
    <div class="patient-info">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="x-ray">
                        <div id="dicomWrapper2" class='disable-selection noIbar cornerstone-enabled-image' unselectable='on' onselectstart='return false;'
                            onmousedown='return false;'>

                            <div id="dicomImage2" #dcmEle [style.display]="heatmapThumbnail ? 'none' : 'block' ">
                                    <i *ngIf="imgLoading" class="fa fa-pulse fa-spinner  fa-3x fa-fw" aria-hidden="true"></i>
                            </div>
                            <div id="heatmap" *ngIf="heatmapUrl">
                                <img *ngIf="heatmapThumbnail" [src]="heatmapUrl" height="500px">
                            </div>
                        </div>
                        <div class="thumbnail-btn">
                            <a class="btn" (click)="reviewFullScreen()">
                                <i class="fa fa-search-plus fa-3x" aria-hidden="true"></i>
                            </a>
                            <a class="btn" (click)="toggleHeatmapThumbnail()" *ngIf="heatmapUrl">
                                <i class="fa fa-exchange fa-3x" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-6"  *ngIf="task">
                    <div class="basic-info">
                        <h3><span class="name">{{task.patient.name}}</span>的诊断书</h3>
                        <div class="basic-info-detail">
                            <div class="row">
                                <div class="col-3">姓名</div>
                                <div class="col-9">{{task.patient.name}}</div>
                            </div>
                            <div class=row>
                                <div class="col-3">性别</div>
                                <div class="col-9">{{task.patient.sex == 'M' ? '男' : '女' }}</div>
                            </div>
                            <div class=row>
                                <div class="col-3">出生日期</div>
                                <div class="col-9">{{task.patient.birthday}}</div>
                            </div>
                            <div class=row>
                                <div class="col-3">病例号</div>
                                <div class="col-9">{{task.patient.patientId}}</div>
                            </div>
                            <div class=row>
                                <div class="col-3">胸片拍摄时间</div>
                                <div class="col-9">{{task.patient.imageDate}}</div>
                            </div>
                            <div class=row>
                                <div class="col-3">工龄</div>
                                <div class="col-9">{{task.patient.workDuration}}</div>
                            </div>
                            <div class=row>
                                <div class="col-3">粉尘性质</div>
                                <div class="col-9">{{task.patient.workType}}</div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-3">病史</div>
                                <div class="col-9" *ngFor="let medicalHistory of examResult.medicalHistories">
                                        {{medicalHistory.description}}&nbsp;&nbsp;&nbsp;{{medicalHistory.startTime}}-{{medicalHistory.endTime}}
                                    </div>
                            </div> -->
                            <div class="row" *ngIf="task.analysisStatus === 0">
                                <div class="col-3">尘肺分析状态</div>
                                <div class="col-9">分析中</div>
                            </div>
                            <div class="row" *ngIf="task.ctdAnalysisStatus === 0">
                                <div class="col-3">肺部异常分析状态</div>
                                <div class="col-9">分析中</div>
                            </div>
                            <div class="row" *ngIf="ctdAnalysisResult">
                                <div class="col-3">肺部异常筛查结果</div>
                                <div class="col-9">{{ctdAnalysisResult}}</div>
                            </div>
                            <div class="row" *ngIf="analysisResult">
                                <div class="col-3">尘肺筛查结果</div>
                                <div class="col-9">{{analysisResult}}</div>
                            </div>
                            <div class="row" *ngIf="analysisResult">
                                <div class="col-3">尘肺阳性概率</div>
                                <div class="col-9">{{task.positiveFraction}}</div>
                            </div>
                            <div class="row" *ngIf="nodule">
                                <div class="col-3">肺结节筛查结果</div>
                                <div class="col-9">{{nodule}}</div>
                            </div>
                            <div class="row" *ngIf="tuberculosis">
                                <div class="col-3">肺结核筛查结果</div>
                                <div class="col-9">{{tuberculosis}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="position: relative">
                <div class="form-group">
                    <label for="diagnosisResult">诊断结果</label>
                    <select [(ngModel)]="diagnosis.diagnosisResult"  name="diagnosisResult" id="diagnosisResult" class="form-control" >
                        <option value=""></option>
                        <option value="0">无尘肺</option>
                        <option value="1">尘肺一期</option>
                        <option value="2">尘肺二期</option>
                        <option value="3">尘肺三期</option>
                    </select>
                </div>
                <div>
                    <a class="btn btn-primary pull-right" style="color: #fff; margin-right: 1em;position: absolute; bottom: 17px; left: 150px;">专家会诊</a>
                </div>
            </div>
            <div class="row">
                <div class="form-group" style="width: 100%;">
                    <label for="diagnosisComment">诊断建议</label>
                    <textarea [(ngModel)]="diagnosis.diagnosisComment" class="form-control" name="diagnosisComment" id="diagnosisComment" rows="10"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col" style="height: 60px;">
                    <ngb-alert *ngIf="showSubmitAlert" [type]="'success'" (close)="showSubmitAlert = false">提交成功</ngb-alert>
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align:center; margin-bottom: 100px;"><button (click)="saveDiagnosis()" class="btn btn-primary">提交结果</button></div>
            </div>
        </div>
    </div>
</div>


<div class="dicom-fullscreen" [style.display]="fullScreenBtn ? 'block' : 'none'">
    <div class="back">
        <a class="btn " (click)="backDetail()">
            <i class="fa fa-undo" aria-hidden="true"></i>返回详情</a>
        <div class="detail-desc">
            <span>Rows: </span>
            <span id="rows"></span>
            <br>
            <span>Columns: </span>
            <span id="columns"></span>
            <br>
        </div>
    </div>
    <div id="dicomWrapper" class='disable-selection noIbar' unselectable='on' onselectstart='return false;' onmousedown='return false;'>
        <div #fullDcmEle id="dicomImage" style="position:absolute; top:0; bottom: 0;left:0;right:0;" [style.display]="heatmapFullScreen? 'none' : 'block' ">
        </div>
        <div id="heatmapFullScreen" *ngIf="heatmapUrl" [style.display]="heatmapFullScreen? 'block' : 'none' " style="width: 100%; text-align: center; background-color: #000; position:absolute; top:0; bottom: 0;left:0;right:0;">
            <img [src]="heatmapUrl" alt="" >
        </div>
    </div>
    <div class="dcm-detail">
        <button type="button" [class.disabled]="dicomBtnStatus.wwWl" (click)="wwWl()" class="btn btn-sm btn-default" data-container="body" data-toggle="tooltip" data-placement="bottom"
            title="" data-original-title="窗宽窗位">
            <span class="fa fa-sun-o"></span>
        </button>
        <button type="button" [class.disabled]="dicomBtnStatus.inverseColor" (click)="inverseColor()" class="btn btn-sm btn-default" data-container="body" data-toggle="tooltip"
            data-placement="bottom" title="" data-original-title="反色">
            <span class="fa fa-adjust"></span>
        </button>
        <button type="button" [class.disabled]="dicomBtnStatus.zoom" (click)="zoom()" class="btn btn-sm btn-default" data-container="body" data-toggle="tooltip" data-placement="bottom"
            title="" data-original-title="放缩">
            <span class="fa fa-search"></span>
        </button>
        <button type="button" [class.disabled]="dicomBtnStatus.pan" (click)="pan()" class="btn btn-sm btn-default" data-container="body" data-toggle="tooltip" data-placement="bottom"
            title="" data-original-title="平移">
            <span class="fa fa-arrows"></span>
        </button>
        <button type="button" (click)="toggleHeatmapFullScreen()" class="btn btn-sm btn-default" data-container="body" data-toggle="tooltip" data-placement="bottom"
                title="" data-original-title="热力图" *ngIf="heatmapUrl">
            <span class="fa fa-exchange"></span>
        </button>
        <!-- <button type="button" [class.disabled]="dicomBtnStatus.scroll" (click)="scroll()" class="btn btn-sm btn-default" data-container="body" data-toggle="tooltip"
            data-placement="bottom" title="" data-original-title="浏览">
            <span class="fa fa-bars"></span>
        </button>
        <button type="button" [class.disabled]="dicomBtnStatus.play" (click)="play()" class="btn btn-sm btn-default" data-container="body" data-toggle="tooltip"
            data-placement="bottom" title="" data-original-title="播放">
            <span class="fa fa-play"></span>
        </button>
        <button type="button" [class.disabled]="dicomBtnStatus.stop" (click)="stop()" class="btn btn-sm btn-default" data-container="body" data-toggle="tooltip"
            data-placement="bottom" title="" data-original-title="停止">
            <span class="fa fa-stop"></span>
        </button> -->
    </div>

</div>
