<div class="actual-content">
    <div class="actual-content-title">
        <div class="actual-title-con">
            <h2>粉尘作业人员胸部X射线检查结果</h2>
            <img src="../../../content/images/underline.png" alt="">
        </div>
    </div>
    <div class="patient-info" *ngIf="task">
        <div class="container">
            <div class="row">
                <!-- <div class="col">
                <div class="x-ray">
                  <div id="dicomWrapper2"
                       class='disable-selection noIbar cornerstone-enabled-image'
                       unselectable='on'
                       onselectstart='return false;'
                       onmousedown='return false;'>
      
                    <div #dcmEle id="dicomImage2"
                         style="height: 500px;">
                    </div>
                  </div>
                  <div class="review-full-btn">
                    <a class="btn" (click)="reviewFullScreen()"><i class="fa fa-search-plus fa-3x" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div> -->


                <div class="col-6">
                    <div class="basic-info">
                        <h3>
                            <span class="name">{{task.patient.name}}</span>的诊断书</h3>
                        <div class="basic-info-detail">
                            <div class="row">
                                <div class="col-3">姓名</div>
                                <div class="col-9">小明</div>
                            </div>
                            <div class=row>
                                <div class="col-3">性别</div>
                                <div class="col-9">{{task.patient.sex}}</div>
                            </div>
                            <div class=row>
                                <div class="col-3">出生日期</div>
                                <div class="col-9">{{task.patient.birthday}}</div>
                            </div>
                            <div class=row>
                                <div class="col-3">病例号</div>
                                <div class="col-9">{{task.patient.id}}</div>
                            </div>
                            <div class=row>
                                <div class="col-3">工龄</div>
                                <div class="col-9">{{task.patient.workDuration}}</div>
                            </div>
                            <div class=row>
                                <div class="col-3">粉尘性质</div>
                                <div class="col-9">{{task.patient.workType}}</div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-3">病史</div>
                                <div class="col-9" *ngFor="let medicalHistory of examResult.medicalHistories">
                                        {{medicalHistory.description}}&nbsp;&nbsp;&nbsp;{{medicalHistory.startTime}}-{{medicalHistory.endTime}}
                                    </div>
                            </div> -->
                            <div class="row" *ngIf="task.analysisStatus === 0">
                                <div class="col-3">分析状态</div>
                                <div class="col-9">分析中</div>
                            </div>
                            <div class="row" *ngIf="analysisResult">
                                <div class="col-3">分析结果</div>
                                <div class="col-9">{{analysisResult}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
