<div class="row">
    <div class="col-md-12 home-banner">
        <h1 class="display-4">职业性尘肺病智能体检平台</h1>
        <p class="lead">尘肺病智能会诊中心，破除尘肺病治疗难题您健康的保障</p>
    </div>
</div>

<div class="card jh-card">
    <div class="row">
        <div class="col-md-4">
            <div routerLink="/case" class="card jh-btn-box" >
                <div class="btn-box-title">
                    <span class="bg-cases"></span>
                    <span>病例库</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div routerLink="/exam/task/selectcase" class="card jh-btn-box">
                <div class="btn-box-title">
                    <span class="bg-search"></span>
                    <span>智能分析</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div routerLink="/exam" class="card jh-btn-box">
                <div class="btn-box-title">
                    <span class="bg-report"></span>
                    <span>分析结果</span>
                </div>
            </div>
        </div>
    </div>
</div>